Repository Munhak-Zip/Munhak.Zip_Back, pull requests merged in 2024-04, with the labels that each got.

#6 [fix/#3]닉네임 수정 DAO 수정
  src/main/java/com/example/jpetstore/controller/MypageController.java
  src/main/java/com/example/jpetstore/dao/MypageDao.java
  src/main/java/com/example/jpetstore/dao/mybatis/MybatisMypageDao.java
  src/main/java/com/example/jpetstore/service/MypageService.java
  src/test/java/com/example/jpetstore/test/MypageTest.java
  target/classes/com/example/jpetstore/controller/MypageController.class
  target/classes/com/example/jpetstore/service/MypageService.class
  target/test-classes/com/example/jpetstore/test/MypageTest.class
Labels: PULL REQUEST, refactor, 민영

#8 [add/#7]ReviewDAO 구현
  .idea/discord.xml
  .idea/misc.xml
  .idea/uiDesigner.xml
  src/main/java/com/example/jpetstore/dao/ReviewDao.java
  src/main/java/com/example/jpetstore/dao/mybatis/MybatisReviewDao.java
  src/main/java/com/example/jpetstore/dao/mybatis/mapper/ReviewMapper.java
  src/main/java/com/example/jpetstore/domain/Review.java
  src/main/java/com/example/jpetstore/service/ReviewImpl.java
  src/main/java/com/example/jpetstore/test/Test.java
  src/main/resources/com/example/jpetstore/dao/mybatis/mapper/ReviewMapper.xml
  src/main/resources/db/oracle/jdbc.oracle.properties
  src/test/java/com/example/jpetstore/test/ReviewTest.java
  target/classes/com/example/jpetstore/controller/SignonController.class
  target/classes/com/example/jpetstore/controller/SignonInterceptor.class
  target/classes/com/example/jpetstore/dao/ReviewDao.class
  target/classes/com/example/jpetstore/dao/mybatis/MybatisMypageDao.class
  target/classes/com/example/jpetstore/dao/mybatis/MybatisProductDao$ProductSearch.class
  target/classes/com/example/jpetstore/dao/mybatis/MybatisProductDao.class
  target/classes/com/example/jpetstore/dao/mybatis/MybatisReviewDao.class
  target/classes/com/example/jpetstore/dao/mybatis/MybatisSequenceDao.class
  target/classes/com/example/jpetstore/dao/mybatis/mapper/ReviewMapper.class
  target/classes/com/example/jpetstore/dao/mybatis/mapper/ReviewMapper.xml
  target/classes/com/example/jpetstore/domain/Item.class
  target/classes/com/example/jpetstore/domain/Review.class
  target/classes/com/example/jpetstore/service/MypageService.class
  target/classes/com/example/jpetstore/service/ReviewImpl.class
  target/classes/com/example/jpetstore/service/client/OrderServiceClient_httpInvoker.class
  target/classes/com/example/jpetstore/service/client/OrderServiceClient_jaxws.class
  target/classes/com/example/jpetstore/service/client/OrderServiceClient_rmi.class
  target/classes/db/oracle/jdbc.oracle.properties
  target/test-classes/com/example/jpetstore/test/MypageTest.class
  target/test-classes/com/example/jpetstore/test/ReviewTest.class
Labels: add, feat, PULL REQUEST, test, 예진

#11 [add/#9] UserDao구현
  .idea/dataSources.xml
  .idea/misc.xml
  src/main/java/com/example/jpetstore/controller/UserController.java
  src/main/java/com/example/jpetstore/dao/UserDao.java
  src/main/java/com/example/jpetstore/dao/mybatis/MybatisUserDao.java
  src/main/java/com/example/jpetstore/dao/mybatis/mapper/UserMapper.java
  src/main/java/com/example/jpetstore/service/UserService.java
  src/main/java/com/example/jpetstore/service/UserServiceImpl.java
  src/test/java/com/example/jpetstore/test/UserTest.java
  target/classes/com/example/jpetstore/controller/UserController.class
  target/classes/com/example/jpetstore/dao/UserDao.class
  target/classes/com/example/jpetstore/dao/mybatis/MybatisUserDao.class
  target/classes/com/example/jpetstore/dao/mybatis/mapper/UserMapper.class
  target/classes/com/example/jpetstore/service/UserService.class
  target/classes/com/example/jpetstore/service/UserServiceImpl.class
  target/test-classes/com/example/jpetstore/test/UserTest.class
Labels: add, PULL REQUEST, 다윤

#12 [ADD&FIX/#3] 닉네임 변경 DAO 코드 수정 및 비밀번호 수정 DAO 추가
  .idea/misc.xml
  src/main/java/com/example/jpetstore/controller/MypageController.java
  src/main/java/com/example/jpetstore/dao/MypageDao.java
  src/main/java/com/example/jpetstore/dao/mybatis/MybatisMypageDao.java
  src/main/java/com/example/jpetstore/dao/mybatis/mapper/MyPageMapper.java
  src/main/java/com/example/jpetstore/service/MypageService.java
  src/test/java/com/example/jpetstore/test/MypageTest.java
  target/classes/com/example/jpetstore/controller/MypageController.class
  target/classes/com/example/jpetstore/dao/MypageDao.class
  target/classes/com/example/jpetstore/dao/mybatis/MybatisMypageDao.class
  target/classes/com/example/jpetstore/dao/mybatis/mapper/MyPageMapper.class
  target/classes/com/example/jpetstore/service/MypageService.class
  target/test-classes/com/example/jpetstore/test/MypageTest.class
Labels: add, feat, PULL REQUEST, test, 민영
